:root{
    --clr-body: oklch(93.07% 0.0621 67.53);
    --clr-surface: oklch(100% 0 0);
    --clr-accent-surface: oklch(97.89% 0.017 345.4816973663777);
    --clr-divider: oklch(90.32% 0.01 67.69);
    --clr-txt-heading: oklch(30.12% 0.005 56.2);
    --clr-txt-sub-heading: oklch(46.71% 0.1735 37.71);
    --clr-txt-sub-heading-2: oklch(41.41% 0.191 354.94);
    --clr-txt-body: oklch(46.13% 0.018 67.36);
}