@use "colors" as *;
@use "typography" as *;

*, *::before, *::after{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --br: 0.75rem;
}
body{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--clr-body);
  font: var(--body-reg);
  text-wrap: pretty;
}
main{
  padding-block-end: 1.5rem;
}
.card-wrapper{
  width: min(100%, 46rem);
  margin-inline: auto;
  container: card / inline-size;
}
.card {
  padding-block: 2.5rem;
  border-radius: 1.5rem;
  margin-block-start: 2.5rem;
  background-color: var(--clr-surface);
  color: var(--clr-txt-body);
  transition: all 0.3s ease-in-out;
  :has(.card__img){
    .card__text{
      padding-block-start: 2.5rem;
    }
  }
  &__divider{
    height: 1px;
    margin-block: 2rem;
    background-color: var(--clr-divider);
  }
  &__heading-l {
    font: var(--heading-l);
    color: var(--clr-txt-heading);
    :has(+ .card__descr){
      padding-bottom: 1.5rem;
    }
  }
  &__heading-m {
    font: var(--heading-m);
    color: var(--clr-txt-sub-heading);
    :has(+ .card__list,+ .card__descr){
      padding-bottom: 1.5rem;
    }
  }
  &__heading-s {
    font: var(--heading-s);
    color: var(--clr-txt-sub-heading-2);
    :has(+ .card__list){
      padding-bottom: 1rem;
    }
  }
  &__heading-l, &__heading-m, &__heading-s {
    line-height: var(--flh-heading);
    text-wrap: balance;
    transition: all 0.3s ease-in-out;
  }
  &__img {
    max-width: calc(100% - (2.5rem * 2));
    align-self: stretch;
    margin-inline: 2.5rem;
    border-radius: var(--br);
    font-style: italic;
    background-color: var(--clr-body);
    transition: all 0.3s ease-in-out;
  }
  &__text{
    padding-inline: 2.5rem;
    transition: all 0.3s ease-in-out;
    &-bold{
      font: var(--body-bold);
    }
  }
  &__descr{
    :has(+ .card__table){
      padding-block-end: 1.5rem;
    }
    :has(+ .card__prep){
      padding-block-end: 2rem;
    }
  }
  &__prep{
    padding: 1.75rem;
    border-radius: var(--br);
    margin-block-end: 2rem;
    background-color: var(--clr-accent-surface);
    transition: all 0.3s ease-in-out;
  }
  &__list{
    padding-left: 1.5rem;
    &-item{
      padding-left: 1rem;
      &::marker{
        color: var(--clr-txt-sub-heading);
        font: var(--body-bold);
      }
    }
  }
  &__table{
    width: 100%;
    border-collapse: collapse;
    &-row{
      text-align: left;
      :not(.card__table-row:last-child){
        border-bottom: 1px solid var(--clr-divider);
      }
      &:last-child{
        .card__table-head,.card__table-body{
          padding-bottom: 0;
        }
      }
    }
    &-head{
      padding: 0.75rem 0 0.75rem 2rem;
      font-weight: 400;
    }
    &-body{
      padding: 0.75rem 2rem 0.75rem 1rem;
      font-weight: 700;
      color: var(--clr-txt-sub-heading);
    }
  }
}
@container card (width < 41rem) {
  .card {
    padding-block-start: 0;
    border-radius: 0;
    margin-block-start: 0;
    &__img {
      max-width: 100%;
      border-radius: 0;
      margin: 0;
    }
    &__text{
      padding-inline: 2rem;
    }
    &__prep{
      padding: 1.5rem;
    }
  }
}
.attribution {
  padding: 1rem;
  display: grid;
  place-items: center;
  text-align: center;
  text-wrap: pretty;
    a { 
      color: var(--clr-txt-sub-heading);
      &:hover{
        text-decoration: none;
      }
    }
}