@font-face {
    font-family: 'Young Serif';
    src: local('Young Serif'),
    url('./font/young-serif.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Outfit';
    src: local('Outfit'),
    url('./font/outfit.woff2') format('woff2');
    font-display: swap;
}

:root{
    --ff-1: 'Young Serif', serif;
    --ff-2: 'Outfit', sans-serif;
    --flh-heading: 100%;
    --fs-body: 1rem;
    --flh-body: 150%;
    --heading-l: 2.5rem/var(--flh-heading) var(--ff-1);
    --heading-m: 1.75rem/var(--flh-heading) var(--ff-1);
    --heading-s: 600 1.25rem/var(--flh-heading) var(--ff-2);
    --body-reg: 400 var(--fs-body)/var(--flh-body) var(--ff-2);
    --body-bold: 700 var(--fs-body)/var(--flh-body) var(--ff-2);
}